html {
	@media screen and (min-width: 0) {font-size: 8.88px;}
	@media screen and (min-width: 360px) {font-size: 62.5%;}
	@media screen and (min-width: 375px) {font-size: 65.10%;}
	@media screen and (min-width: 414px) {font-size: 71.87%;}
}
body {
	-webkit-text-size-adjust: none;
	margin: 0;
	font: 1.3rem/1 "noto", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
	color: #111;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,dl,dd,fieldset,pre {margin: 0;}
ol, ul, td, fieldset {padding: 0;}
input, select, textarea, button, pre, a {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-decoration: none;
}
input, select, textarea {
	margin: 0; padding: 0;
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;
	vertical-align: top;
}
li {list-style: none;}
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	table-layout: fixed;
}
fieldset, img {border: 0;}
img {
	vertical-align: top;
	max-width: 100%;
}
label, td img {vertical-align: middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight: 400;}
legend, caption, .hidden {
	position: fixed;
	width: 0; height: 0;
	overflow: hidden;
}
address, em {font-style: normal;}
button {
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 0;
}
pre {white-space: pre-line;}

select {
	height: r(60);
	padding: 0 r(20);
	border: r(1) solid #ddd;
}
textarea {
	width: 100%;
	border: r(1) solid #ddd;
	overflow: auto;
	resize: none;
}
.inputTxt {
	height: r(60);
	line-height: r(64);
	padding: 0 r(20);
	border: r(1) solid #ddd;
}
.inputChk {
	-webkit-appearance: none;
	position: relative;
	@include display($type: inline-block, $w: r(28), $h: r(28));
	margin-right: r(5);
	background:#fff url('/resource/images/input_chk.png') no-repeat -999px 0;
	background-size: r(24);
	border: r(1) solid #1c2536;
	border-radius: 0;
	vertical-align: r(-3);
	&:checked {background-position: 50%;}
}
.inputRadio {
	@extend .inputChk;
	background:#fff url('/resource/images/input_radio.png') no-repeat -999px 0;
	border-radius: 50%;
}
.inputWrap {
	border-bottom: r(1) solid #111;
	select, .inputTxt {width: 100%;}
	select {
		background: url('/resource/images/ico_select2.png') no-repeat right r(20) top 50%;
		background-size: r(21);
	}
	.row {
		padding: r(30) 0;
		~ .row {border-top: 1px solid #ddd;}
	}
	.th {
		padding-bottom: r(20);
		font-size: r(28);
		.required {
			color: #6c83ac;
		}
	}
	.contactBox {
		display: table;
		width: 100%;
		.cell {
			display: table-cell;
			width: 30%;
		}
		.ts {
			display: table-cell;
			width: r(30);
			text-align: center;
			vertical-align: middle;
		}
	}
}
.table1 {
	border-top: r(1) solid #111;
	border-bottom: r(1) solid #111;
	th, td {
		height: r(80);
		padding: 0 0 0 r(20);
		border-top: r(1) solid #ddd;
		text-align: left;
		font-weight: 300;
	}
	th {font-weight: 400;}
	tr:first-child {
		th, td {border: 0;}
	}
}

.btnWrap {
	display: flex;
	margin-top: r(30);
}
[class*="btnType"] {
	display: inline-block;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	&.iconCall {
		&:after {
			content: "";
			display: inline-block;
			width: r(32); height: r(34);
			margin-left: r(10);
			background: url('/resource/images/btn_call.png') no-repeat;
			background-size: r(32);
			vertical-align: r(-4);
		}
	}
}
.btnType1 {
	background: #112b66;
	border: r(1) solid #112b66;
	color: #fff;
}
.btnType2 {
	background: #fff;
	border: r(1) solid #112b66;
	color: #22314e;
}
.btnType1-lg {
	@extend .btnType1;
	width: 100%; height: r(80);
	line-height: r(80);
}
.btnType2-lg {
	@extend .btnType2;
	width: 100%; height: r(80);
	line-height: r(80);
}
.btnTypeNaver {
	width: 100%; height: r(80);
	padding-top: r(10);
	background: #1dc800;
	color: #fff;
	&:before {
		content: "";
		@include display($type: inline-block, $w: r(60), $h: r(60));
		margin: 0 r(10) 0 r(-20);
		background: url('/resource/images/naver.png') no-repeat;
		background-size: r(60);
		vertical-align: r(-20);
	}
}
.btnTypeKakao {
	width: 100%; height: r(80);
	padding-top: r(10);
	background: #ffe400;
	color: #412e34;
	&:before {
		content: "";
		@include display($type: inline-block, $w: r(60), $h: r(60));
		margin: 0 r(10) 0 r(-20);
		background: url('/resource/images/kakao.png') no-repeat;
		background-size: r(60);
		vertical-align: r(-20);
	}
}

.slideContainer {overflow: hidden;}
.swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	.swiper-slide {
		width: 100%;
		flex-shrink: 0;
	}
}

.bbsView {
	.bbs {
		&Title {
			font-size: r(36);
			line-height: 1.5;
		}
		&Info {
			position: relative;
			height: r(80);
			margin-top: r(18);
			border-top: r(1) solid #111;
			border-bottom: r(1) solid #ddd;
			.sort {
				float: left;
				font-size: r(26);
				margin-top: r(28);
			}
			.etc {
				float: right;
				margin-top: r(28);
				span ~ span {
					position: relative;
					margin-left: r(34);
					&:after {
						content: "";
						@include pos($p: absolute, $t: r(8), $l: r(-20));
						height: r(16);
						border-left: r(1) solid #111;
					}
				}
			}
		}
		&Cont {
			margin: 0 0 r(30);
			padding: r(60) 0;
			line-height: 1.5;
			border-bottom: r(1) solid #111;
		}
		&Nav {
			margin: r(30) 0 0;
			border-top: r(1) solid #111;
			border-bottom: r(1) solid #111;
			.row {
				position: relative;
				height: r(100);
				padding: 0 r(40) 0 r(120);
				~ .row {
					border-top: r(1) solid #ddd;
				}
			}
			.nav {
				@include pos($p: absolute, $t: r(36), $l: 0);
			}
			.cont {
				display: inline-block;
				margin-top: r(36);
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

	}
}

.ftc1 {color: #6c83ac;}

@keyframes background {
	0% {background: #e80813;}
	50% {background: #58009b;}
	100% {background: #e80813;}
}