html {
	@media screen and (min-width: 0) {font-size: 8.88px;}
	@media screen and (min-width: 360px) {font-size: 62.5%;}
	@media screen and (min-width: 375px) {font-size: 65.10%;}
	@media screen and (min-width: 414px) {font-size: 71.87%;}
}
body {
	-webkit-text-size-adjust: none;
	margin: 0;
	font: 1.3rem/1 "noto", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
	color: #111;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,dl,dd,fieldset {margin: 0;}
ol, ul, td, fieldset {padding: 0;}
input, select, textarea, button, pre, a {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-decoration: none;
}
input, select, textarea {
	margin: 0; padding: 0;
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;
	vertical-align: top;
}
li {list-style: none;}
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	table-layout: fixed;
}
fieldset, img {border: 0;}
img {
	vertical-align: top;
	max-width: 100%;
}
label, td img {vertical-align: middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight: 400;}
legend, caption, .hidden {
	position: fixed;
	width: 0; height: 0;
	overflow: hidden;
}
address, em {font-style: normal;}
button {
	padding: 0;
	overflow: visible;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 0;
}
pre {white-space: pre-wrap;}

select {
	border: r(1) solid #333;
}
textarea {
	width: 100%;
	border: r(1) solid #333;
	overflow: auto;
	resize: none;
}
.inputTxt {
	width: 100%;
	border: r(1) solid #333;
}

.slideContainer {overflow: hidden;}
.swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	.swiper-slide {
		width: 100%;
		flex-shrink: 0;
	}
}

[class*="btnType"] {
	display: inline-block;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}
.btnType1 {
	background: #112b66;
	border: r(1) solid #112b66;
	color: #fff;
}
.btnType2 {
	background: #fff;
	border: r(1) solid #112b66;
	color: #22314e;
}
@keyframes background {
	0% {background: #e80813;}
	50% {background: #58009b;}
	100% {background: #e80813;}
}