.mainNav {
	background: #fff;
	text-align: center;
	button {
		position: relative;
		height: r(60);
		margin: 0 r(28);
		padding-top: r(5);
		color: #999;
		font-size: r(26);
		vertical-align: middle;
		&:after {
			content: "";
			@include pos($p: absolute, $r: 0, $b: 0, $l: 0);
			height: r(6);
			animation: background 10s infinite;
			opacity: 0;
		}
		&.active {
			color: #111;
			&:after {opacity: 1;}
		}
	}
}
.mainSlideWrap {
	overflow: hidden;
}
.visualSlide {
	.slideContainer {
		position: relative;
		.slideCount {
			@include pos($p: absolute, $b: r(30), $l: r(40));
			font-size: r(20);
			color: #fff;
		}
		.slidePage {
			display: flex;
			height: r(2);
			@include pos($p: absolute, $r: r(40), $b: r(20), $l: r(40));
			background: rgba(0,0,0,.4);
			button {
				flex: 1;
				height: r(2);
				background: #fff;
				opacity: 0;
				vertical-align: top;
				font-size: 0;
			}
			[class*="active"] {opacity: 1;}
		}
	}
	.slideUtil {
		height: r(64);
		text-align: center;
		.slideCount {
			display: inline-block;
			vertical-align: r(-2);
			font-size: r(24);
			span {margin: 0 r(6);}
		}
		[class*="slideNav"] {
			width: r(64); height: r(64);
			font-size: 0;
			vertical-align: middle;
			&:after {
				content: "";
				display: inline-block;
				width: r(11); height: r(18);
				background: url('/resource/images/btn_slide_nav.png') no-repeat;
				background-size: r(22);
			}
		}
		.slideNavNext:after {background-position: 100% 0;}
	}
}
.cubeList {
	@include clear;
	margin: r(-10) r(-10) 0;
	li {
		position: relative;
		float: left;
		width: 50%;
		padding-top: 38%;
		a {
			@include pos($p: absolute, $a: r(10));
			display: block;
			padding: r(26) r(18);
			color: #fff;
		}
		.txt {
			@include lineOverflow($h: r(160), $line: 4);
			line-height: r(40);
			font-size: r(26);
		}
	}
	.item1 a {background: #3465aa;}
	.item2 a {background: #2da0d9;}
	.item3 a {background: #09a274;}
	.item4 a {background: #abbb36;}
	.item5 a {background: #f2b701;}
	.item6 a {background: #ea810c;}
	.item7 a {background: #cc2541;}
	.item8 a {background: #7b378a;}
}

.slideLink {
	background: #f4f4f4;
	padding: r(20) 0 r(20) r(20);
	overflow: auto;
	ul {display: table;}
	li {
		display: table-cell;
		width: auto;
		float: none;
		padding: 0 r(20) 0 0;
		a {
			@include pos($p: relative, $a: auto);
			width: r(260); height: r(200);
			box-sizing: border-box;
		}
		.txt {
			@include lineOverflow($h: r(120), $line: 3);
			line-height: r(40);
			font-size: r(26);
		}
		.date {
			@include pos($p: absolute, $b: r(18), $r: r(20));
			font-size: r(24);
		}
	}
}

.blockList {
	margin-top: r(20);
}

.listWrap {
	.listHead {
		position: relative;
		@include clear;
		height: r(82);
		border-bottom: r(1) solid #dbdbdb;
		box-shadow: 0 r(2) r(2) r(2) rgba(0,0,0,.1);
		font-size: 0;
		.listOpt {float: left;}
		.btnListType {
			width: r(84); height: r(80);
			font-size: 0;
			&:after {
				content: "";
				display: inline-block;
				width: r(25); height: r(25);
				background: url('/resource/images/btn_list_type.png') no-repeat;
				background-size: r(50);
			}
			~ .listSort {
				&:after {
					content: "";
					@include pos($p: absolute, $t: r(27), $l: 0);
					height: r(27);
					border-left: r(2) solid #111;
				}
				select {padding-left: r(30)}
			}
		
		}
		.listSort {
			position: relative;
			display: inline-block;
			vertical-align: top;
			select {
				height: r(80);
				padding: 0 r(35) 0 0;
				border: 0;
				font-size: r(26);
				background: url('/resource/images/ico_select.png') no-repeat 100% 50%;
				background-size: r(15);
			}
		}
		.listSearch {
			float: right;
			.btnSearch {
				width: r(80); height: r(80);
				margin-right: r(18);
				font-size: 0;
				background: url('/resource/images/btn_search2.png') no-repeat 50% 50%;
				background-size: r(34);
			}
			.searchWrap {
				display: none;
				@include pos($p: absolute, $t: 0, $r: 0, $b: 1px);
				background: #fff;
				padding: r(15) r(20) 0 0;
				&.open {display: block;}
				.inputTxt {
					width: r(440); height: r(50);
					padding: 0 r(60) 0 r(20);
					border: r(1) solid #111;
					border-radius: r(50);
					font-size: r(26);
				}
				.btnSearchClose {
					@include pos($p: absolute, $t: r(15), $r: r(30));
					width: r(50); height: r(50);
					background: url('/resource/images/btn_search_close.png') no-repeat 50% 50%;
					background-size: r(26);
					font-size: 0;
				}
			}
		}
	}
	&.typeCube {
		.btnListType:after {background-position: 100% 0;}
	}
}
.listType {
	background: #f4f4f4;
	border-bottom: 1px solid #ddd;
	ul {@include clear;}
	li {margin-top: r(10);}
	.itemBox {
		position: relative;
		min-height: r(180);
		padding: r(20) r(20) r(20) r(370);
		background: #fff;
	}
	.itemImg {
		@include pos($p: absolute, $t: r(20), $l: r(20));
		width: r(320);
		&.vod:after {
			content: "";
			@include pos($p: absolute, $t: 50%, $l: 50%);
			width: r(70); height: r(72);
			margin: r(-36) 0 0 r(-35);
			background: url('/resource/images/ico_play.png') no-repeat;
			background-size: 100%;
		}
		.imgbox {
			position: relative;
			display: block;
			padding-top: 56%;
		}
		img {
			@include pos($p: absolute, $t: 0, $l: 0);
			width: 100%; height: 100%;
		}
		.time {
			@include pos($p: absolute, $r: 0, $b: 0);
			width: r(60); 
			line-height: r(30);
			color: #fff;
			background: rgba(0,0,0,.4);
			font-size: r(22);
			text-align: center;
		}
	}
	.itemInfo {
		position: relative;
		min-height: r(180);
		.tit {
			@include lineOverflow($h: r(120), $line: 3);
			font-size: r(26);
			line-height: r(40);
		}
		.count {
			@include pos($p: absolute, $b: 0, $l: 0);
			font-size: r(24);
			span {
				position: relative;
				display: inline-block;
				padding-left: r(10);
				&:after {
					content: "";
					@include pos($p: absolute, $t: r(4), $l: 0);
					height: r(16);
					border-left: r(2) solid #666;
				}
			}
		}
		.date {
			@include pos($p: absolute, $b: 0, $r: 0);
		}
	}
	.sns {
		@include pos($p: absolute, $r: r(20), $b: r(10));
		a {
			display: inline-block;
			vertical-align: top;
			width: r(60); height: r(60);
			background: url('/resource/images/ico_sns.png') no-repeat;
			background-size: r(300);
			border: r(1) solid #ddd;
			border-radius: 50%;
			font-size: 0;
			&.kakao {background-position: r(-58) 0;}
			&.fb {background-position: r(-118) 0;}
		}
	}
	.typeCube & {
		padding: 0 r(20);
		border: 0;
		ul {margin: 0 r(-10);}
		li {
			float: left;
			width: 50%;
		}
		.itemBox {
			margin: r(10);
			padding: 0;
		}
		.itemImg {
			@include pos($p: relative, $t: 0, $l: 0);
			width: 100%;
		}
		.itemInfo {
			min-height: r(140);
			padding: r(20) r(20) 0;
			.tit {
				max-height: r(80);
				-webkit-line-clamp: 2;
			}
			.count {
				left: r(20); bottom: r(20);
			}
		}
		.sns {
			position: static;
			padding: r(10) r(20);
			text-align: right;
			border-top: r(1) solid #ddd;
		}
		.btnMore {
			margin: r(10) 0 0;
			border: r(1) solid #ddd;
		}
	}
	.lineType {
		background: #fff;
		li {
			margin: 0;
			~ li {border-top: r(1) solid #ddd;}
		}
		.itemBox {
			padding: r(30) 0 r(30) r(350);
			background: none;
		}
		.itemImg {
			top: r(30);
			left: 0;
		}
	}
}
.listType2 {
	border-bottom: 1px solid #ddd;
	li {
		position: relative;
		padding: r(30) 0;
		box-sizing: border-box;
		~ li {border-top: r(1) solid #ddd;}
	}
	.sort {
		position: relative;
		float: left;
		width: r(112);
		line-height:  1.5;
		&:after {
			content: "";
			@include pos($p: absolute, $t: r(10), $r: 0);
			height: r(16);
			border-right: r(1) solid #111;
		}
		~ .txt {
			white-space: normal;
			padding: 0;
			margin: 0 0 r(30) r(130);
			line-height: 1.5;
			@include lineOverflow($h: r(80), $line: 2);
			height: r(80);
		}
	}
	.txt {
		display: block;
		margin-bottom: r(30);
		padding-right: r(140);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		line-height: 1.2;
	}
	.date {
		@include pos($p: absolute, $r: 0, $b: r(20));
	}
}
.btnMoreList {
	button {
		width: 100%; height: r(100);
		background: #fff;
		border-top: r(1) solid #ddd;
		&:after {
			content: "";
			display: block;
			height: r(10);
			margin-top: r(10);
			background: url('/resource/images/btn_list_more.png') no-repeat 50% 0;
			background-size: r(18);
		}
	}
}
.vodWrap {
	position: relative;
	padding-top: 60%;
	color: #fff;
	.vod {
		@include pos($p: absolute, $a: 0);
		img, video, iframe {width: 100%; height: 100%;}
	}
	.btnPlay {
		@include pos($p: absolute, $a: 0);
		width: 100%;
		background: rgba(0,0,0,.1);
		.play {
			position: relative;
			display: block;
			width: r(80); height: r(80);
			margin: 0 auto r(8);
			border-radius: 50%;
			background: #e80813;
			font-size: 0;
			&:before {
				content: "";
				@include pos($p: absolute, $t: 50%, $l: 50%);
				transform: translate(-50%, -50%);
				@include arrow($dir: right, $w: r(7), $h: r(11), $c: #fff);
			}
		}
	}
	.txt {
		@include pos($p: absolute, $t: r(20), $l: r(20));
		font-size: r(28);
	}
	.time {
		@include pos($p: absolute, $b: r(16), $l: r(20));
		font-size: r(24);
	}
	.btnFull {
		@include pos($p: absolute, $b: r(16), $r: r(20));
		&:before {
			content: "";
			display: inline-block;
			width: r(18); height: r(18);
			margin-right: r(10);
			background: url('/resource/images/ico_full.png') no-repeat;
			background-size: 100%;
		}
	}
	.btnShare {
		@include pos($p: absolute, $t: 0, $r: 0, $b: 0);
		width: r(65);
		&.open {
			background: #000;
			.box {display: block;}
		}
		button {
			width: 100%;
			background: rgba(0,0,0,.6);
			font-size: 0;
			&:after {
				content: "";
				display: inline-block;
				width: r(60); height: r(60);
				background: url('/resource/images/ico_share.png') no-repeat;
				background-size: r(300);
			}
		}
		.share {height: 20%;}
		.tw:after {background-position: r(-60) 0;}
		.fb:after {background-position: r(-120) 0;}
		.kakao:after {background-position: r(-180) 0;}
		.url:after {background-position: r(-240) 0;}
		.box {
			display: none;
			height: 80%;
			button {height: 25%;}
		}
	}
}
.hospQuickLink {
	overflow: hidden;
	border-top: r(20) solid #f4f4f4;
	[class*="link"] {
		position: relative;
		&:after {
			content: "";
			display: inline-block;
			width: r(50); height: r(50);
			background: url('/resource/images/ico_link.png') no-repeat;
			background-size: r(400);
		}
		&.link2:after {background-position: r(-50) 0;}
		&.link3:after {background-position: r(-100) 0;}
		&.link4:after {background-position: r(-150) 0;}
		&.link5:after {background-position: r(-200) 0;}
		&.link6:after {background-position: r(-250) 0;}
		&.link7:after {background-position: r(-300) 0;}
		&.link8:after {background-position: r(-350) 0;}
	}
	.row1 {
		display: flex;
		> span {
			border-left: r(2) solid #f4f4f4;
			flex: 1;
			box-sizing: border-box;
			&:first-child {
				border: 0;
				border-right: r(2) solid #f4f4f4;
			}
		}
		a {
			display: block;
			height: r(160);
			padding: r(30) 0 0 r(40);
			box-sizing: border-box;
			span {
				padding-right: r(30);
				background: url('/resource/images/btn_link.png') no-repeat 100% 45%;
				background-size: r(10);
			}
			&:after {
				display: block;
				margin-top: r(15);
			}
		}
	}
	.row2 {
		display: flex;
		border-top: r(4) solid #f4f4f4;
		> span {
			flex: 1;
		}
		a {
			display: block;
			height: r(140);
			padding: r(94) 0 0;
			box-sizing: border-box;
			text-align: center;
			&:after {
				@include pos($p: absolute, $t: r(26), $l: r(65));
			}
		}
	}
	.row3 {
		display: flex;
		border-top: r(4) solid #f4f4f4;
		> span {
			border-left: r(2) solid #f4f4f4;
			flex: 1;
			box-sizing: border-box;
			background: #002260 url('/resource/images/btn_link2.png') no-repeat right r(40) top 50%;
			background-size: r(10);
			&:first-child {
				border: 0;
				border-right: r(2) solid #f4f4f4;
			}
		}
		a {
			display: block;
			height: r(80);
			padding: r(16) 0 0 r(36);
			box-sizing: border-box;
			color: #fff;
			&:after {
				margin-left: r(10);
				vertical-align: r(-14);
			}
		}
	}
}
.doctorList {
	.doctorBox {
		position: relative;
		padding: r(40);
		border-top: r(20) solid #f4f4f4;
	}
	.picture {
		@include pos($p: absolute, $t: r(40), $l: r(40));
		width: r(270); height: r(360);
	}
	.info {
		position: relative;
		margin-left: r(320);
		min-height: r(360);
		.name {
			padding-bottom: r(20);
			border-bottom: r(1) solid #22314e;
			font-size: r(12);
			span {font-size: r(36)}
		}
		.pd {
			padding-top: r(15);
			text-align: right;
		}
	}
	.link {
		@include pos($p: absolute, $b: 0, $r: 0);
		width: r(310);
		[class*="btnType"] {
			width: 100%; height: r(80);
			margin-top: r(20);
			padding-top: r(30);
		}
	}
	.timeTable {margin-top: r(40);}
	.history {
		margin-top: r(20);
		&.open {
			.btn:before {display: none;}
			.cont {display: block;}
		}
		.btn {
			position: relative;
			width: 100%;
			height: r(70);
			border-bottom: 1px solid #ddd;
			font-size: r(30);
			text-align: left;
			&:before, &:after {
				content: "";
				@include pos($p: absolute, $t: r(24), $r: r(10));
				width: r(3); height: r(23);
				background: #111;
			}
			&:after {transform: rotate(90deg);}
		}
		.cont {
			display: none;
			margin-top: r(20);
			.tit {
				margin: r(60) 0 r(20);
				font-size: r(30);
			}
			.list {
				li {
					line-height: 1.8;
					span {
						color: #666;
						margin-left: r(10);
					}
				}
			}
			.book {
				margin: r(-20) r(-20) 0;
				text-align: center;
				font-size: 0;
				li {
					display: inline-block;
					width: 50%;
					padding: r(20);
					box-sizing: border-box;
				}

			}
		}
	}
}
.timeInfo {
	.subTitle ~ .subTitle {margin-top: r(100);}
	.timeTop {
		border-bottom: r(1) solid #111;
		.row {
			display: flex;
			padding: r(30) r(20) r(26);
			> span {
				flex: 1;
			}
			.cell {
				position: relative;
				width: 50%;
				padding: 0 r(40) 0 0;
				box-sizing: border-box;
				~ .cell {
					padding: 0 0 0 r(40);
					&:after {
						content: "";
						@include pos($p: absolute, $t: 50%, $l: 0);
						height: r(18);
						margin-top: r(-14);
						border-left: r(1) solid #111;
					}
				}
				span {float: left;}
				.right {float: right;}
			}
			~ .row {border-top: r(1) solid #ddd;}
			.right {text-align: right;}
		}
		.inner {
			padding: r(52) r(20) r(60);
			text-align: center;
			line-height: 1.4;
			background: #f9f9f9;
			border-top: r(1) solid #ddd;
			p {margin: 0 0 r(40);}
		}
	}
	.timeBox {
		margin-top: r(40);
		~ .timeBox {margin-top: r(60);}
	}
	.timeTable {margin-top: r(28);}
}
.careProcess {
	border-bottom: r(1) solid #111;
	li {
		padding: r(20) 0 r(20) r(40);
		line-height: 1.5;
		~ li {border-top: r(1) solid #ddd;}
	}
	strong {
		display: block;
		margin-left: r(-20);
	}

}
.timeTable {
	table {
		border: {
			bottom: 1px solid #e4e4e4;
			right: 1px solid #e4e4e4;
		}
		th, td {
			border: {
				top: 1px solid #e4e4e4;
				left: 1px solid #e4e4e4;
			}
			text-align: center;
			padding: r(14) r(10) r(10);
			line-height: 1.5;
			font-weight: 300;
		}
		th {background: #f8f8f8;}
		.etc {text-align: left;}
	}
}
.commuQuickLink {
	display: flex;
	span {
		flex: 1;
		padding: r(30) 0;
		text-align: center;
		font-size: r(24);
		&:before {
			content: "";
			display: block;
			width: r(122); height: r(122);
			margin: 0 auto r(12);
			background: url('/resource/images/ico_link2.png') no-repeat;
			background-size: r(488);
		}
		&.link2:before {background-position: r(-122) 0}
		&.link3:before {background-position: r(-244) 0}
		&.link4:before {background-position: r(-366) 0}
	}
}
.mainNoti {
	background: #f4f4f4 url('/resource/images/btn_link3.png') no-repeat right r(40) top 50%;
	background-size: r(20);
	+ .subSection {border: 0;}
	a {
		display: block;
		height: r(80);
		padding: r(30) r(100) 0 r(94);
		box-sizing: border-box;
		background: url('/resource/images/ico_noti.png') no-repeat r(40) 50%;
		background-size: r(35);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
.privacyAgree {
	position: relative;
	.tit {padding: r(28) r(40);}
	.box {
		overflow: auto;
		height: r(320);
		padding: r(40);
		box-sizing: border-box;
		background: #f8f8f8;
		font-size: r(24);
		line-height: 1.4;
	}
	.agree {
		@include pos($p: absolute, $t: r(30), $r: r(40));
	}
	+ .subSection {border-top: 0;}
}
.txtRequired {
	margin: r(10) 0 r(-20);
	text-align: right;
	font-size: r(18);
	span {color: #6c83ac;}
}
.txtAlert {
	padding-left: r(60);
	background: url('/resource/images/ico_alert.png') no-repeat 0 50%;
	background-size: r(31);
	line-height: 1.4;
}
.txtAlert2 {
	padding-left: r(70);
	background: url('/resource/images/ico_alert2.png') no-repeat r(20) 0;
	background-size: r(32);
	color: #002260;
	line-height: 1.4;
}

.infoSection {
	~ .infoSection {margin: r(80) 0 0;}
	> .title {
		font-size: r(26);
		span {
			display: inline-block;
			padding: 0 r(60) r(10) 0;
			border-bottom: r(1) solid;
		}
	}
	> .subTxt {
		margin-top: r(50);
		font-size: r(48);
		line-height: 1.2;
		strong {font-weight: 300;}
	}
	> .txt {
		margin-top: r(50);
		line-height: 1.4;
	}
	.vodWrap {margin-top: r(50);}
	.table1 {margin-top: r(50);}
	.hospShow {margin-top: r(40);}
	.img {
		margin-top: r(50);
		text-align: center;
	}
	&.greeting {
		margin: r(80) r(-40) 0;
		padding: r(80) r(40);
		background: #f8f8f8;
	}
	.sign {
		margin-top: r(40);
		text-align: right;
		img {
			width: r(200);
			margin-left: r(30);
			vertical-align: r(-10);
		}
	}
	.awardSlide {
		position: relative;
		margin: r(50) 0 0;
		border: 1px solid #ddd;
		.slidePage {
			@include pos($p: absolute, $b: r(30), $r: 0, $l: 0);
			text-align: center;
			button {
				width: r(14); height: r(14);
				margin: 0 r(7);
				border: r(1) solid #002260;
				border-radius: 50%;
				font-size: 0;
			}
			[class*="active"] {background: #002260;}
		}
	}
}

.loginWrap {
	position: relative;
	padding: r(90) r(40) 0;
	text-align: center;
	.title {
		margin: 0 0 r(35);
		font-size: r(40);
	}
	.row {
		padding: r(80) 0 r(60);
		~ .row {
			border-top: r(1) solid #112b66;
		}
		.btn {
			margin: r(50) 0 0;
			width: 100%; height: r(80);
			color: #fff;
		}
		&.naver {
			.tit img {width: r(323);}
			.btn {background: #2cb400;}
		}
		&.kakao {
			.tit img {width: r(301);}
			.btn {background: #412e34;}
		}
	}
	.btnBack {
		@include pos($p: absolute, $t: r(40), $r: r(40));
		font-size: 0;
		width: r(37); height: r(36);
		background: url('/resource/images/btn_close.png') no-repeat;
		background-size: 100%;
	}
}

.resultCount {
	box-sizing: border-box;
	height: r(80);
	padding: r(26) 0 0 r(40);
	background: #f4f4f4;
	font-size: r(26);
	.count {font-size: r(36);}
	+ .subSection {border-top: 0;}
}

.thanksWrap {
	.subTitle {
		text-align: center;
	}
	.subTxt {
		padding: r(30) 0 r(59);
		text-align: center;
		line-height: 1.5;
	}
	.btnWrite {
		display: block;
		box-sizing: border-box;
		height: r(80);
		padding-top: r(30);
		text-align: center;
		color: #fff;
		background: #a51974;
	}
	.cubeList {
		li {
			padding-top: 48%; 
			a {
				padding: r(40) r(30);
			}
		}
		.etc {
			@include pos($p: absolute, $b: r(30), $l: r(30));
			.name {
				position: relative;
				margin-left: r(38);
				&:after {
					content: "";
					@include pos($p: absolute, $t: r(8), $l: r(-20));
					height: r(16);
					border-left: r(1) solid #fff;
				}
			}
		}
	}
	.btnMoreList {
		margin: r(10) 0 0;
		border: 0;
		button {
			height: r(80);
			border: r(1) solid #000;
			&:after {display: none;}
		}
	}
}
.vodView {
	.vodHead {
		position: relative;
		padding: r(26) r(40) r(70);
		background: #f4f4f4;
		.title {
			font-size: r(36);
			line-height: 1.4;
		}
		.etc {
			@include pos($p: absolute, $b: r(20), $r: r(20));
			font-size: r(22);
			span {
				display: inline-block;
			}
		}
		.view {
			&:before {
				content: "";
				display: inline-block;
				width: r(30); height: r(18);
				margin-right: r(10);
				background: url('/resource/images/ico_view.png') no-repeat;
				background-size: r(30);
			}
		}
		.date {
			position: relative;
			margin-left: r(28);
			&:before {
				content: "";
				@include pos($p: absolute, $t: r(2), $l: r(-18));
				height: r(14);
				border-left: r(1) solid #111;
			}
		}
	}
	.vodCont {
		border-top: r(20) solid #f4f4f4;
		padding: r(30) r(40) r(50);
		line-height: 1.4;
	}
	.vodShare {
		position: relative;
		border-top: r(1) solid #ddd;
		border-bottom: r(1) solid #ddd;
		.txt {
			padding: r(76) r(40);
		}
		.btn {
			@include pos($p: absolute, $t: r(50), $r: r(40));
			button {
				display: inline-block;
				vertical-align: top;
				width: r(80); height: r(80);
				margin: 0 0 0 r(30);
				background: url('/resource/images/ico_sns.png') no-repeat;
				background-size: r(410);
				border: r(1) solid #ddd;
				border-radius: 50%;
				font-size: 0;
				&.kakao {background-position: r(-80) 0;}
				&.fb {background-position: r(-160) 0;}
				&.url {background-position: 100% 0;}
			}
		}
	}
}
.vodRecom {
	border-top: r(20) solid #f4f4f4;
	.cont {
		padding: r(60) r(40) r(40);
	}
	.vodBox {
		display: block;
		.vod {
			position: relative;
			margin: r(40) 0 0;
			&:after {
				content: "";
				@include pos($p: absolute, $t: 50%, $l: 50%);
				width: r(70); height: r(72);
				margin: r(-36) 0 0 r(-35);
				background: url('/resource/images/ico_play.png') no-repeat;
				background-size: 100%;
			}
			.time {
				@include pos($p: absolute, $r: 0, $b: 0);
				width: r(60); 
				line-height: r(30);
				color: #fff;
				background: rgba(0,0,0,.4);
				font-size: r(22);
				text-align: center;
			}
		}
		.tit {margin-top: r(40);}
		.txt {
			margin-top: r(40);
			color: #666;
			line-height: 1.3;
			@include lineOverflow($h: r(80), $line: 2);
		}
		.etc {
			margin-top: r(30);
			span {display: inline-block;}
			.view {
				position: relative;
				margin-left: r(28);
				&:before {
					content: "";
					display: inline-block;
					width: r(30); height: r(18);
					margin-right: r(10);
					background: url('/resource/images/ico_view.png') no-repeat;
					background-size: r(30);
				}
				&:after {
					content: "";
					@include pos($p: absolute, $t: r(6), $l: r(-18));
					height: r(14);
					border-left: r(1) solid #111;
				}
			}
		}
	}
	.link a {
		display: block;
		padding: r(90) 0 r(60);
		border-top: r(1) solid #ddd;
		text-align: center;
		background: url('/resource/images/ico_vod.png') no-repeat 50% r(40);
		background-size: r(45)
	}
}

.hospShow {	
	border-bottom: 1px solid #111;
	li {border-top: 1px solid #ddd;}
	li:first-child {border: 0;}
	&.type2 {
		border-top: 1px solid #111;
		.btn {padding-left: r(30)}
	}
	.btn {
		position: relative;
		width: 100%;
		padding: r(30) r(60) r(30) r(140);
		color: #111;
		font-size: r(26);
		text-align: left;
		transition: all .3s;
		vertical-align: top;
		&:after {
			content: "";
			@include pos($p: absolute, $t: 50%, $r: r(20));
			width: r(15); height: r(15);
			border: {
				top: r(3) solid #1d366d;
				right: r(3) solid #1d366d;
			}
			transform: rotate(135deg);
			margin-top: r(-10);
			transition: all .3s;
		}
		.floor {
			@include pos($p: absolute, $t: r(30), $l: 0);
			width: r(104);
			text-align: center;
		}
	}
	.cont {
		position: relative;
		display: none;
		overflow: hidden;
		img {width: 100%;}
		&.open {display: block;}
	}
	.active {
		.btn {
			background: #112b66;
			color: #fff;
			&:after {
				margin-top: r(-5);
				transform: rotate(-45deg);
				border-color : #fff;
			}
		}
		.floor {color: #fff;}
	}
	.swiper-wrapper {
		z-index: 2;
		border: 0;
		li {border: 0;}
		span {
			display: block;
			padding: r(26) r(50) r(6);
			background: #112b66;
			color: #fff;
			text-align: center;
			line-height: 1.4;
		}
	}
	.slideNum {
		display: block;
		margin-top: r(-1);
		padding: r(6) 0 r(26);
		background: #112b66;
		color: #fff;
		text-align: center;
	}
	.slideNav {
		&Prev, &Next {
			@include pos($p: absolute, $b: r(22), $z: 2);
			width: r(23); height: r(76);
			background: url('/resource/images/btn_slide_nav2.png') no-repeat;
			background-size: r(46);
			font-size: 0;
		}
		&Prev {left: r(20);}
		&Next {
			background-position: 100% 0;
			right: r(20);
		}
	}
}
.txtMic {
	height: r(50);
	margin-bottom: r(-20);
	padding: r(30) 0 0 r(80);
	background: #f4f4f4 url('/resource/images/ico_mic.png') no-repeat r(40) 50%;
	background-size: r(22);
}
.privacy {
	margin-top: r(50);
	line-height: 1.5;
}
.rightWrap {
	padding-top: r(60);
	h4 {
		color: #6c83ac;
		font-size: r(36);
		~ h4 {margin-top: r(100);}
	}
	h5 {
		margin: r(50) 0 r(10);
		font: {
			size: r(26);
			weight: 700;
		}
	}
	p {line-height: 1.5;}
}
.mapWrap {
	height: r(500);
	margin: r(60) 0 0;
}
.root_daum_roughmap_landing {width:100%!important;height:100%!important;box-sizing:border-box;}
.root_daum_roughmap .wrap_map {height:100%!important;box-sizing:border-box;}

.mapInfo {
	padding-bottom: r(40);
	border-bottom: r(1) solid #111;
	.address {
		margin-top: r(20);
		padding: r(10) 0 r(10) r(46);
		background: url('/resource/images/ico_loc.png') no-repeat 0 50%;
		background-size: r(24);
	}
	.btn {
		display: flex;
		margin: r(20) r(-10) 0;
		span {
			flex: 1;
			padding: 0 r(10);
		}
	}
}

.locSection {
	[class*="locTit"] {
		margin-top: r(70);
		padding: r(30) 0 r(30) r(60);
		border-bottom: r(1) solid #111;
		font-size: r(36);
	}
	.locTitBus {
		background: url('/resource/images/ico_tit4.png') no-repeat 0 50%;
		background-size: r(36);
	}
	.locTitCar {
		background: url('/resource/images/ico_tit5.png') no-repeat 0 50%;
		background-size: r(37);
	}
	.locTitParking {
		background: url('/resource/images/ico_tit6.png') no-repeat 0 50%;
		background-size: r(30);
	}
	.locBusTer {
		padding-bottom: r(30);
		border-bottom: r(1) solid #111;
		.tit {
			margin: r(30) 0 r(40);
			padding: r(20);
			background: url('/resource/images/ico_tit_arrow.png') no-repeat right r(20) top 50%;
			background-size: r(28);
			border-top: r(1) solid #111;
			border-bottom: r(1) solid #111;
			font-size: r(26);
		}
	}
	.locCont {
		padding-bottom: r(30);
		border-bottom: r(1) solid #111;
		dt {
			padding-top: r(30);
			~ dt {
				margin-top: r(30);
				border-top: r(1) solid #ddd;
			}
		}
		dd {
			margin: r(20) 0 0 r(20);
			line-height: 1.4;
			&.img {margin-left: 0;}
			.green {color: #2eb135;}
		}
	}
	.txtAlert2 {margin-top: r(30);}
}

.mvTop {
	display: flex;
	justify-content: center;
	align-items: center;;
	height: r(420);
	background: url('/resource/images/img_mv_top.jpg') no-repeat 50% 50%;
	background-size: 100%;
	border-top: r(20) solid #f4f4f4;
	img {width: r(587);}
}
[class*="mvCont"] {
	&:first-child {margin: 0;}
	margin: r(60) 0 0;
	padding: 0 r(40) r(50);
	border: r(1) solid #dededd;
	color: #fff;
	text-align: center;
	line-height: 2;
	h3 {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		width: r(160); height: r(40);
		line-height: 1;
		padding-top: r(10);
		margin-bottom: r(20);
		background: #fff;
		top: r(-20);
	}
	li ~ li {margin-top: r(40);}
	&.mvCont1 {
		background: #e80813;
		h3 {color: #e80813;}
	}
	&.mvCont2 {
		background: #58009b;
		h3 {color: #58009b;}
	}
	&.mvCont3 {
		background: #00a0f1;
		h3 {color: #00a0f1;}
	}
}