{% set pageVar = { title: '어깨 &lt; ' } %}
{% extends "inc/layout.html" %}

{% block content -%}
<div id="container">
	<p class="txtMic">여수백병원은 최고의 의료품질을 약속드립니다.</p>
	<section class="subSection">
		<h3 class="subTitle">환자권리장전</h3>
		
		<div class="rightWrap">
			<h4>환자의 권리</h4>
			
			<h5>진료를 받을 권리</h5>
			<p>환자는 자신의 건강보호를 위해 적절한 보건의료서비스를 받고, 성별·나이·종교·신분·경제적 사정 등을 이유로 이를 침해 받지 아니하며, 의료인은 정당한 사유 없이 진료를 거부하지 못한다.</p>

			<h5>알 권리 및 자기결정권</h5>
			<p>환자는 담당 의사·간호사 등으로부터 질병상태, 치료방법·예상결과(부작용 등), 진료비용에 대해 충분한 설명을 듣고 또 자세히 물어볼 수 있으며, 치료방법에 대해 동의 여부를 결정할 권리를 가진다.</p>

			<h5>비밀을 보호 받을 권리</h5>
			<p>환자는 진료와 관련된 신체상·건강상 비밀과 사생활의 비밀을 침해 받지 아니하며, 의료인과 의료기관은 환자의 동의를 받지 않거나 범죄수사 등 법률이 정한 경우 외에는 비밀을 누설·발표하지 못한다.</p>

			<h5>상담, 조정을 신청할 권리</h5>
			<p>환자는 의료서비스 관련 분쟁이 발생한 경우, 한국의료분쟁조정중재원 등에 상담 및 조정 신청을 할 수 있다.</p>

			<h4>환자의 의무</h4>

			<h5>의료인에 대한 신뢰·존중 의무</h5>
			<p>환자는 자신의 건강관련 정보를 의료인에게 정확히 알리고, 의료인의 치료계획에 대해 신뢰하고 존중하여야 한다.</p>

			<h5>부정한 방법으로 진료를 받지 않을 의무</h5>
			<p>환자는 진료 전에 본인의 신분을 밝혀야 하고, 타인의 명의로 진료를 받는 등 거짓이나 부정한 방법으로 진료를 받지 아니한다.</p>
		</div>

	</section>
</div>
{%- endblock %}