{% set pageVar = { title: '검색결과 &lt; ' } %}
{% extends "inc/layout.html" %}

{% block content -%}
<div id="container">
	<p class="resultCount"><strong class="count">36건</strong>의 게시물이 있습니다.</p>

	<section class="subSection">
		<h3 class="subTitle">관련영상 <span class="count"><strong>20</strong>건</span></h3>
		<div class="listType">
			<ul class="lineType">
				<li>
					<div class="itemBox">
						<a href="#">
							<div class="itemImg vod">
								<span class="imgbox"><img src="/resource/images/temp/320x180.jpg" alt=""></span>
								<span class="time">8:26</span>
							</div>
							<div class="itemInfo">
								<span class="tit">어깨는 날개입니다.</span>
								<span class="count">조회수 <span>1,492</span></span>
							</div>
						</a>
					</div>
				</li>
				<li>
					<div class="itemBox">
						<a href="#">
							<div class="itemImg vod">
								<span class="imgbox"><img src="/resource/images/temp/320x180.jpg" alt=""></span>
								<span class="time">8:26</span>
							</div>
							<div class="itemInfo">
								<span class="tit">어깨는 날개입니다.</span>
								<span class="count">조회수 <span>1,492</span></span>
							</div>
						</a>
					</div>
				</li>
				<li>
					<div class="itemBox">
						<a href="#">
							<div class="itemImg vod">
								<span class="imgbox"><img src="/resource/images/temp/320x180.jpg" alt=""></span>
								<span class="time">8:26</span>
							</div>
							<div class="itemInfo">
								<span class="tit">어깨는 날개입니다.</span>
								<span class="count">조회수 <span>1,492</span></span>
							</div>
						</a>
					</div>
				</li>
			</ul>
			<div class="btnMoreList">
				<button type="button">더보기</button>
			</div>
		</div>
	</section>

	<section class="subSection">
		<h3 class="subTitle">여수백 이야기 <span class="count"><strong>3</strong>건</span></h3>
		<div class="listType">
			<ul class="lineType">
				<li>
					<div class="itemBox">
						<a href="#">
							<div class="itemImg">
								<span class="imgbox"><img src="/resource/images/temp/320x180.jpg" alt=""></span>
							</div>
							<div class="itemInfo">
								<span class="tit">어깨는 날개입니다.</span>
								<span class="count">조회수 <span>1,492</span></span>
							</div>
						</a>
					</div>
				</li>
				<li>
					<div class="itemBox">
						<a href="#">
							<div class="itemImg">
								<span class="imgbox"><img src="/resource/images/temp/320x180.jpg" alt=""></span>
							</div>
							<div class="itemInfo">
								<span class="tit">어깨는 날개입니다.</span>
								<span class="count">조회수 <span>1,492</span></span>
							</div>
						</a>
					</div>
				</li>
				<li>
					<div class="itemBox">
						<a href="#">
							<div class="itemImg">
								<span class="imgbox"><img src="/resource/images/temp/320x180.jpg" alt=""></span>
							</div>
							<div class="itemInfo">
								<span class="tit">어깨는 날개입니다.</span>
								<span class="count">조회수 <span>1,492</span></span>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="subSection">
		<h3 class="subTitle">병원소식 <span class="count"><strong>60</strong>건</span></h3>
		<div class="listType2">
			<ul>
				<li>
					<a href="#">
						<span class="txt">[공지] 여수백병원의 홈페이지가 리뉴얼 되었습니다</span>
						<span class="date">2019.12.24</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="txt">[공지] 여수백병원의 홈페이지가 리뉴얼 되었습니다</span>
						<span class="date">2019.12.24</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="txt">사랑과 희망이 싹 트는 빨간밥차봉사</span>
						<span class="date">2019.12.24</span>
					</a>
				</li>
			</ul>
			<div class="btnMoreList">
				<button type="button">더보기</button>
			</div>
		</div>
	</section>

</div>
{%- endblock %}