{% set pageVar = { title: '백병원소식 &lt; ' } %}
{% extends "inc/layout.html" %}

{% block content -%}
<div id="container">
	<div class="location">
		<div class="locBox">
			<button type="button" class="btn" onclick="locOpen();">커뮤니티</button>
			<ul class="list">
				<li><a href="hospinfo.html">백병원 소개</a></li>
				<li><a href="notice.html">커뮤니티</a></li>
			</ul>
		</div>
		<div class="locBox">
			<button type="button" class="btn" onclick="locOpen();">백병원소식</button>
			<ul class="list">
				<li><a href="notice.html">백병원소식</a></li>
				<li><a href="thanks.html">경험한 여수백병원</a></li>
			</ul>
		</div>
	</div>

	<section class="subSection">
		<div class="bbsView">
			<h3 class="bbsTitle">해피아워(식당)에서 매일매일 새로운 디저트 맛보시고 경험해 보세요!</h3>
			<div class="bbsInfo">
				<span class="sort">해피런치데이</span>
				<span class="etc">
					<span class="name">관리자</span>
					<span class="date">2019.12.17</span>
				</span>
			</div>
			<div class="bbsCont">
				<img src="/resource/images/temp/640x426.jpg" alt=""><br><br>
				<p>
					해피아워(식당)에서도 크리스마스 분위기가 물씬 느껴집니다.<br>
					<br>
					영양팀에서는 고객분들을 위해 아기자기한 소품들과 함께 꾸며진 '디저트 바'를 준비했습니다.
					식후에 매일매일 새로운 디저트 맛보시고 경험해 보세요!
				</p>
			</div>
			<div class="bbsBtn">
				<a href="#" class="btnType2-lg">목록으로</a>
			</div>
			<div class="bbsNav">
				<div class="row">
					<span class="nav">이전</span>
					<span class="cont">
						게시물이 없습니다.
					</span>
				</div>
				<div class="row">
					<span class="nav">다음</span>
					<span class="cont">
						<a href="#">맛있고 행복한 식사는 식사 그 이상의 치료입니다</a>
					</span>
				</div>
			</div>
		</div>
		
	</section>
</div>
{%- endblock %}