{% macro include(fileName) -%}
	{% include fileName ignore missing -%}
{% endmacro -%}
<!DOCTYPE html>
<html>
<head>
	{{ include("inc/head.html") | tabIndent(1) }}
</head>
<body>

<div id="wrap" {{ pageVar.wrapClass }}>

	<!-- header -->
	{{ include("inc/header.html") | tabIndent(1) }}
	<!-- //header -->

	<!-- content -->
	{% filter tabIndent(1) %}
	{% block content %}{% endblock %}
	{%- endfilter %}
	<!-- //content -->

	<!-- footer -->
	{{ include("inc/footer.html") | tabIndent(1) }}
	<!-- //footer -->
</div>
	
</body>
</html>